.photo_wrapper{
  
    display: flex;
    justify-content: space-evenly;
    row-gap: 50px;
    column-gap: 50px;
    flex-wrap: wrap;
 
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.photo_card{
    width: 200px;
    background-color: #ffffffff;
    border-radius: 15px;
    padding: 25px;

   
}
.photo_img{
    padding-bottom: 5px;
    width: 200px !important;
    height: 150px !important;
    object-fit:cover;
}
#nav{
    position: sticky;
    top: 0;
    padding: 14px 16px;
    background-color: black;
    color: #ffffffff;
    opacity: 0.5;
    width: 100%;
    display: flex;
    justify-content: end;
    z-index: 10;
}
#nav :first-child{
    
    all: unset;
    cursor: pointer;
}