#NewsBody2 {
    padding-top: 25px;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  #NewsBodyImgSpan2 {
    width: 560px;
    padding: 10px;
    height: calc(100svh - 125px);
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #NewsBodyImg2 {
    width: inherit;
    height: calc(100svh - 155px);
    object-fit: cover;
    border-radius: 5px;
  }
  #NewsBodyContent2 {
    width: 560px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  #NewsBodyContentTitleAuthor2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #NewsBodyContentTitleAuthor2 :first-child {
    font-size: xx-large;
    font-weight: 700;
  }
  
  #NewsBodyContentTitleAuthor2 :last-child {
    font-size: medium;
    font-weight: 500;
    color: gray;
  }
  #NewsBodySave2 {
    color: gray;
  }
  #NewsBodySave2:hover {
    color: black;
    cursor: pointer;
  }
  @media only screen and (max-width: 1200px) {
    #NewsBody2 {
      flex-direction: column-reverse;
    }
  }
  @media only screen and (max-width: 600px) {
    #NewsBodyImgSpan2 {
      width: calc(100vw - 40px);
      height: auto;
      row-gap: 15px;
    }
    #NewsBodyImg2 {
      height: auto;
    }
    #NewsBodyContent2 {
      width: calc(100vw - 40px);
    }
  }
  